.section {
  padding: 2rem 0 4rem;
}

.section__title {
  text-align: center;
  margin-bottom: 2rem;
  span {
    box-shadow: 0 5px 0 0 $clr-primary;
  }
}


.btm__border {
  border-bottom: .2rem solid $clr-primary;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 2rem;
}

// Navigation bar

nav {
  max-width: 968px;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: $heading-font-family;
  margin-bottom: 0.5rem;
}

.nav__logo {
  i {
    font-size: 1.5rem;
  }
}

.nav__logo,
.nav__toggle {
  color: $clr-secondary;
  font-weight: $fw-bold;
}

.nav__logo:hover, .nav__toggle:hover {
  color: white;
}

.nav__toggle {
  font-size: 1.5rem;
  cursor: pointer;
}

.nav__list {
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: $fw-med ;
  i {
    font-size: 1.5rem;
  }
}

.nav__link:hover {
  color: $clr-secondary;
}

.nav__close {
  position: absolute;
  right: 1.5rem;
  bottom: 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.nav__close:hover {
  color: $clr-secondary;
}

// Show Menu
.show-menu {
  bottom: 0 !important;
}

// Home
.home__title {
  font-weight: $fw-reg;
  margin-bottom: 0.3rem;
}

.home__subtitle {
  font-weight: $fw-med;
  margin-top: 0.8rem;
  color: $clr-primary;
}

.home__data {
  margin-bottom: 4rem;
}

.button {
  background-color: $clr-primary;
  color: $clr-black;
  padding: 1rem;
  border-radius: 0.5rem;
  font-weight: $fw-bold;
}
.button__icon {
  margin-left: .4rem;
  transition: .3s;
  font-size: 1.25rem;
}

.button--flex {
  display: inline-flex;
  align-items: center;
}

.home__scroll {
  display: none;
  .home__scroll-mouse {
    font-size: 2rem;
    color: $clr-primary;
  }
  .home__scroll-button {
    transition: .3s;
  }
  .home__scroll-button:hover {
    transform: translateY(.25rem);
  }
}

.home__description {
  margin-bottom: 2rem;
}

.home__content {
  display: flex;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.home__social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.home__social-icon {
  font-size: $fs-h3;
  color: $clr-secondary;
}

.home__social-icon:hover {
  color: white;
}

.home__img {
  width: 180px;
  margin-left: 4rem;
  img {
    border-radius: 0.5rem;
  }
}

// About ME
.about__img {
  width: 200px;
  border-radius: .5rem;
  justify-self: center;
  align-self: center;
}

.about__data {
  text-align: center;
}

.about__buttons {
  display: flex;
  justify-content: center;
}


//  Skills
.skills__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  .skills__title {
    margin-bottom: 1.5rem;
    width: 33%;
    i, .api-icon {
      font-size: 4rem;
      text-align: center;
      display: block;
      margin-top: 0;
    }
    i:hover, .api-icon:hover {
      color: $clr-primary;
    }
    span {
      display: block;
      text-align: center;
      margin-top: .3rem;
    }
    .icon-small {
      font-size: 3rem;
    }
    .icon-text-small {
      margin-top: 1.3rem;
    }
  }
}

// Projects

.section__subtitle {
  font-weight: $fw-reg;
  text-align: center;
}

// MOBILE
@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-color: $clr-black;
    padding: 2rem 1.5rem 4rem;
    box-shadow: 0 -1px 4px rgb(255, 255, 255, 0.15);
    border-radius: 1.5rem 1.5rem 0 0;
    transition: 0.3s;
  }
}
