// Padding is calculated within a width
*,
*::before,
*::after {
  box-sizing: border-box;
}

// Typography

h1, h2, h3 {
  font-family: $heading-font-family;
  line-height: 1;
  margin: 0;
}

h1 { font-size: $fs-h1; }
h2 { font-size: $fs-h2; }
h3 { font-size: $fs-h3; }

body {
  font-family: $body-font-family;
  font-size: $fs-p;
  margin: 0;
  background-color: $clr-black;
  color: $clr-white;
}

img {
  display: block;
  max-width: 100%;
}
