@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,700;1,500;1,600&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

h1, h2, h3 {
  font-family: "Montserrat", sans-serif;
  line-height: 1;
  margin: 0;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.25rem;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  margin: 0 0 3rem 0;
  background-color: #151515;
  color: #fff;
}

img {
  display: block;
  max-width: 100%;
  box-shadow: 0.2em 0.2em 0.5em rgba(255, 255, 255, 0.25), 0.125em 0.125em 0.25em rgba(255, 255, 255, 0.15);
  height: auto;
}

.container {
  max-width: 768px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  background-color: #151515;
}

section {
  padding: 5em 1.5em;
}

.section-title {
  margin-bottom: 0.25em;
}

.section-title-intro {
  font-weight: 300;
}
.section-title-intro strong {
  display: block;
}

.section-subtitle {
  margin: 0;
  font-size: 1.25rem;
}

.section-subtitle-intro,
.section-subtitle-about {
  background-color: #88b9be;
  margin-bottom: 1em;
}

nav {
  max-width: 968px;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 0.5rem;
}

.nav__logo i {
  font-size: 1.5rem;
}

.nav__logo,
.nav__toggle {
  color: #f39057;
  font-weight: 900;
}

.nav__logo:hover, .nav__toggle:hover {
  color: white;
}

.nav__toggle {
  font-size: 1.5rem;
  cursor: pointer;
}

.nav__list {
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 400;
}
.nav__link i {
  font-size: 1.5rem;
}

.nav__link:hover {
  color: #f39057;
}

.nav__close {
  position: absolute;
  right: 1.5rem;
  bottom: 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.nav__close:hover {
  color: #f39057;
}

.show-menu {
  bottom: 0 !important;
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-color: #151515;
    padding: 2rem 1.5rem 4rem;
    box-shadow: 0 -1px 4px rgba(255, 255, 255, 0.15);
    border-radius: 1.5rem 1.5rem 0 0;
    transition: 0.3s;
  }
}
@media (min-width: 600px) {
  .intro {
    display: grid;
    width: -moz-min-content;
    width: min-content;
    margin: 0 auto;
    grid-column-gap: 1.5em;
    grid-template-rows: auto 4em;
    grid-template-areas: "img title" "img subtitle";
    grid-template-columns: min-content max-content;
  }
  .intro img {
    grid-area: img;
    min-width: 300px;
    position: relative;
    border-radius: 5px;
  }
  .section-title-intro {
    margin-top: 1em;
    line-height: 1.2;
  }
  .section-subtitle-intro {
    grid-column: -1/1;
    grid-row: 2;
    text-align: right;
    padding-top: 0.4em;
    padding-right: 2.25em;
    margin-bottom: 3em;
    position: relative;
    left: -2em;
    width: calc(100% + 2em);
    font-size: 1.75em;
  }
}/*# sourceMappingURL=style.css.map */